<!--footer-->
<footer>
    <nav class="navbar fixed-bottom bg-white">
      <p class="navbar-text">&copy; Jeremy Alexander, Zuhair Uddin Mohammed. All rights reserved. 2024</p>
    </nav>
    </footer>
</body>
</html>