<%- include Partials/header.ejs%>
<%- include Partials/main_nav.ejs%>
<!-- About Us Page -->
<link rel="stylesheet" href="/Content/aboutus.css">
<main>
        <div id="project1-container">
            <p class="pic1-header">Who are we</Header></p>
            <img class="project-one-pic" src="Assets\dhikr_reward.jpg" alt="Reward of Dhikr">
            <p class="pic1-text">The DD Tracker is a platform designed to inspire and support Muslims worldwide in their journey of consistent remembrance of God through dhikr, dua, and acts of worship.</p>
        </div>

        <div id="project2-container">
            <p class="pic2-header">Our Mission</p>
            <img class="project-one-pic" src="Assets\Heart.jpg" alt="Quran-[13:28]">
            <p class="pic2-text">To revive the remembrance of Allah in every heart and empower Muslims to achieve spiritual tranquility and fulfillment. We believe that through dhikr, hearts find rest, as Allah says:
            “Indeed, in the remembrance of Allah do hearts find rest.” – Quran [13:28]</p>
    </div>
        </div>

        <section class="quotes-section">
        <h2>Client Reviews!</h2>
        <div class="quote">
            <p>"J's Agency helped me create my modelling portfolio. The agents are top tier and will find you work anywhere around the world!" - Anonymous</p>
        </div>
        <div class="quote">
            <p>"I have gained so much self confidence and have been able to put myself out there more since joining the agency!" - Zuhair Mohammed</p>
        </div>
    </main>
<%- include Partials/footer.ejs%>
