<%- include Partials/header.ejs%>
<%- include Partials/main_nav.ejs%>
<!-- About Us Page -->
<link rel="stylesheet" href="/Content/aboutus.css">
<main>
        <div id="project1-container">
            <p class="pic1-header header-font">Who are we</Header></p>
            <img class="project-one-pic" src="Assets\dhikr_reward.jpg" alt="Reward of Dhikr">
            <p class="pic1-text">The DD Tracker is a platform designed to inspire and support Muslims worldwide in their journey of consistent remembrance of God through dhikr, dua, and acts of worship.</p>
        </div>

        <div id="project2-container">
            <p class="pic2-header header-font">Our Mission</p>
            <img class="project-one-pic" src="Assets\Heart.jpg" alt="Quran-[13:28]">
            <p class="pic2-text">To revive the remembrance of Allah in every heart and empower Muslims to achieve spiritual tranquility and fulfillment. We believe that through dhikr, hearts find rest, as Allah says:
            “Indeed, in the remembrance of Allah do hearts find rest.” – Quran [13:28]</p>
    </div>
        </div>

        <section class="quotes-section">
        <h2>Client Reviews!</h2>
        <div class="quote">
            <p>"The DD Tracker has been a game changer for me! It’s helped me stay consistent with my morning and evening adhkar, and I feel more at peace throughout the day" - Abdullah</p>
        </div>
        <div class="quote">
            <p>"I’ve always struggled with remembering to make dhikr consistently. This platform sends me gentle reminders that motivate me to stay connected with Allah" - Zuhair Mohammed</p>
        </div>
    </main>
<%- include Partials/footer.ejs%>
