<%- include Partials/header.ejs%>
<%- include Partials/main_nav.ejs%>
    <main class="container-fluid">
    <div class="homepage-banner">
        <img src="Assets/index_pic.jpg" class="centered-image" alt="Finance Background">
        <div class="banner-text">
            <h1>Daily Dhikr Tracker. Never forget your daily remembrence again</h1>
        </div>
    </div>
        
    </section>
</main>
<%- include Partials/footer.ejs%>