<%- include ../Partials/header.ejs%>
<%- include ../Partials/main_nav.ejs%>
<!--Content for Add Page-->
<div class="container">
    <div class="row">
        <div class="offset-md-3 col-md-6">
            <h1><%= title %></h1>
            <form class="form" method="POST">
                <div class="form-group">
                    <label for="nameTextField">Fajr</label>
                    <input type="text" class="form-control" id="nameTextField" placeholder="Enter Fajr time" name="Name" required>
                </div>
                <div class="form-group">
                    <label for="contentTextField">Dhuhr</label>
                    <input type="text" class="form-control" id="contentTextField" placeholder="Enter Dhuhr time" name="content" required>
                </div>
                <div class="form-group">
                    <label for="categoryTextField">Asr</label>
                    <input type="text" class="form-control" id="categoryTextField" placeholder="Enter Asr time" name="category" required>
                </div>
                <div class="form-group">
                    <label for="rewardTextArea">Maghrib</label>
                    <textarea type="text" class="form-control" id="rewardTextArea"  placeholder="Enter Maghrib time" name="reward" required></textarea>
                </div>
                <div class="form-group">
                    <label for="timesRecitedTextField">Isha</label>
                    <input type="text" class="form-control" id="timesRecitedTextField" placeholder="Enter Isha time" name="timesRecited" required>
                </div>
                <button class="btn btn-primary" type="submit">Submit
                <i class="fas fa-edit"></i></button>  
                <button class="btn btn-warning" type="submit">Cancel
                    <i class="fas fa-undo"></i></button>    
            </form>
        </div>
    </div>
</div>
<%- include ../Partials/footer.ejs%>